## Ignore test,  old files, or large bam files
**_test*
**_old*
**-Copy*.ipynb
**.bam
**.bam.bai

## Ignore ipynb checkpoints and cached files
**.ipynb_checkpoints
**_pycache_**

## Ignore PSL files
**.psl

## Ignore data files
SCRIPTS/psltmp

## Ignore fastq files
/FASTQ/*.fastq.gz

## Ignore figure files
/FIGURES/*.png
/FIGURES/*.pdf

## Ignore reference files
/REFERENCE/XL280*

## Ignore draft folder
/DRAFTS/**

## Ignore any igv sessions 
**session.xml
