## Ignore test or old files
**_test*
**_old*
**-Copy*.ipynb

## Ignore ipynb checkpoints and cached files
**.ipynb_checkpoints
**_pycache_**

## Ignore PSL files
**.psl

## Ignore data files
./SCRIPTS/psltmp/*

## Ignore reference files
./REFERENCE/XL280*.fasta

## 
**session.xml
